:root{
    --white-color: #fafafa;
    --teal: #20b2aa;
    --light-teal: rgb(87, 209, 203);
}
.patient-card-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
}
.info_card{
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #141414;
    background-color: rgb(247, 247, 247);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    direction: rtl;
    overflow: hidden;

}
.right_div{
    width: 30%;
    height: 100%;
    border-left: 1px solid #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.left_div{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.base_info{
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /*border-bottom: 1px solid #141414;*/
}
.base_info p{
    font-size: 1.3em;
    margin-right: 5%;
    margin-top: 8%;
    margin-bottom: 0;
}
.name_p{
    font-size: 1.9em !important;
    
}
.additional_info{
    width: 100%;
    height: 70%;
    background-color: var(--white-color);
    font-size: 1.25em;
}
.tabs_area{
    width: 90%;
    height: 10% !important;
    min-height: 10% !important;
    display: flex;
    background-color: rgb(231, 231, 231);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    margin-top: 2%;
}
.tab_info_area{
    width: 100%;
    height: 90% !important;
    max-height: 90% !important;
    background-color: var(--white-color);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.tab{
    flex-grow:0.1;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    background-color: hsl(0, 0%, 72%);
    border-radius: 18px;
    color: white;
    transition: 0.1s ease-in-out;
    border: none;
}
.tab:hover {
    background-color: hsl(177, 81%, 47%);
    transition: 0.1s ease-in-out !important;
}
.active-tab {
    background-color: hsl(177, 82%, 50%);
    transition: 0.1s ease-in-out;
    
}
.meeting{
    display: flex;
    width: 85%;
    height: 8%;
    margin-top: 2%;
    border-radius: 12px;
    border : 1px solid #141414;
    align-items: center;

}
.btns_area{
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
    height: 100%;
}
.meeting_info_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    font-size: 1.4em;
}
.meeting_info_area p{
    width: 33%;
}