
html,body{
    overflow: hidden !important;
}
.main-content-area{
    overflow: hidden !important;
}
.cards_area{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1%;
    overflow-y: auto;
    height: fit-content;
    max-height: 85.5vh;
    align-items: start;
}
.user_card{
    width: 30%;
    height: 26vh;
    border-radius: 15px;
    border: 1px solid #272727;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1%;
    transition: 0.2s ease-in-out;
    padding: 2px 12px;
    overflow: hidden;
}
.user_card:hover{
    border-color: var(--teal);
    outline: none;
    transition: 0.2s ease-in-out;
    height: 26vh;
    
}
.custom-add-button{
    position: absolute;
    top: 1.5%;
    right: 16%;
    translate: -50% 50%;
    height: 40px !important;
    width:  40px !important;
    color: white !important;
    background-color: rgb(46, 255, 46) !important;
    border: none !important;
}
select{
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    padding: 0 6px;
    font-size: 20px;
}
.upper-div{
    height: 6.7vh;
    font-size: 19px;
    border-bottom: #f0f0f0 2px solid;
}
.lower-div{
    height: 12.4vh;
    font-size: 19px;
    display: flex;
    align-items: end;
}
/*.user_card:hover .hidden-div {
    height: 5.9vh;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    border-bottom: #f0f0f0 2px solid;
    
}*/
.hidden-div{
    height: 6.9vh;
    width: 100%;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    border-bottom: #f0f0f0 2px solid;
    display: flex;
    align-items: center;
    
}
.hidden-div p{
    margin: 0;
}
.buttons-space{
    display: flex;
    gap: 10px;
    height: 50%;
    align-items: end;
    margin-bottom: 16px;
    
}
.buttons-space button{
    height: 30px;
    width: 78px;
    border-radius: 6px;
    font-size: 13px;
}
.phone_num{
    font-size: 16px;
}
.info-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
    margin-bottom: 2%;
    
}
.info-div p {
    margin: 0;
}
