:root {
    --teal: #20b2aa;
    --light-teal: rgb(87, 209, 203);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevent body scrollbar */
    
}

main {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 3.2;
    
    background-color: var(--teal);
    color: white;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.water_mark{
    position: absolute;
    top: 50%;
    left: 22.5%;
    transform: translate(-50%, -50%);
    opacity: 0.12;
    height: 90vh;
    pointer-events: none;
}
.main-content-area {
    flex: 10;
    overflow-y: auto;
    background-color: #fffff9;
    padding: 20px;
    color: #000000;
    direction: rtl;         /* Move scrollbar to the left */
    text-align: right;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
}
ul li {
    margin: 20px 0;
    font-size: 18px;
    text-align: end;
    cursor: pointer;
    padding: 6px ;
    width: 100%;
}
.main-content-area::-webkit-scrollbar {
    width: 15px;              /* Width of the scrollbar */
}

.main-content-area::-webkit-scrollbar-track {
    background: #3e3e3e;       /* Background behind the thumb */
}

.main-content-area::-webkit-scrollbar-thumb {
    background-color: #20b2aa; /* Scroll thumb color */
    border-radius: 10px;
    border: 2px solid #5d5050;
    padding: 2px; /* Optional: creates padding around thumb */
}

.main-content-area::-webkit-scrollbar-thumb:hover {
    background-color: #1a908a;
}
.main-content-area button {
    
    width: 15%;
    height: 15%;
    margin: 0.4%;
    border: #272727 1px solid;
    border-radius: 10px;
    background-color: #fffff5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: #272727;
}
.main-content-area button:hover {
    background-color: var(--light-teal);
    color: white;
    transition: 0.2s ease-in-out;
    scale: 1.05;
}
ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ul li button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    text-align: right;
    font-size: 24px;
    
}
.today-list{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 96vh !important;
    background-color: #fffffc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid #272727;
    margin: 10px !important;
    margin-bottom: 5px !important;
    margin-top: 30px !important;

    
}
.flex-line{
    height: 2px;
    background-color: #bebebe;
    flex-grow: 1;
    margin: 0 10px;
}


form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 35%;
    height: 55%;

    transition: 0.2s ease-in-out;
}
form .form-card {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 50px rgb(0, 0, 0);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    direction: rtl;

    
}
.today-list{
    background-color: #fffff9;
}

.form-group{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 8px auto;
   
}
.form-group input, .form-group textarea , .form-group select , .switch-input {
    border: 1px solid #ccc;
    width: 75%;
    border-radius: 4px;
    resize: none;
    padding: 0 6px;
    font-size: 20px;
    
}
.form-group input:focus, .form-group textarea:focus, .form-group select:focus, .switch-input:focus {
    border-color: var(--teal);
    outline: none;
}
.form-group input {
    height: 30px;

}
.form-group label {
    width: 20%;
    text-align: right;
    font-size: 22px;
    color: #333;
}
.cancel-button {
    background-color: transparent;
    border: none;
    color: white;
    font: inherit;
    cursor: pointer;
    text-align: right;
    font-size: 24px;
    background-color: rgb(255, 46, 46);
    border-radius: 8px;
}
.ok-button {
    background-color: transparent;
    border: none;
    color: white;
    font: inherit;
    cursor: pointer;
    text-align: right;
    font-size: 24px;
    background-color: rgb(46, 255, 46);
    border-radius: 8px;
}
.buttons-area{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 4vh;
    gap: 10px;
   
}
#patients_list_area{
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 80vh !important;
    overflow-y: auto;
}
.patient-card{
    width: 90%;
    height: 70px !important;
    background-color: #fffffca7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 2px solid #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
    z-index: 5;
    transition: 0.2s ease-in-out;


}
.patient-card:hover {
    background-color: #fdfdfd;
    transition: 0.2s ease-in-out;
}
.upper-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
}
.lower-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 20px;
    color: #4b4b4b;
    height: 50%;
}
.patient-buttons-area {
    display: flex;
    gap: 5px;
    width: 25%;
    justify-content: space-evenly;
}
.patient-buttons-area button {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}
.add-button-area{
    width: 40%;
    display: flex;
    justify-content: center;
    background-color: #fffffc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    border: 2px solid #272727;
    margin-bottom: 5%;
    gap: 10px;

}
.add-button {
    width: 30px;
    height: 30px;
    background-color: rgb(39, 252, 39);
    border-radius: 25%;
    border: none;
    font-size: 26px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.add-button:hover {
    background-color: rgb(0, 204, 0);
    transition: 0.2s ease-in-out;
}

.delete-button {
    width: 30px;
    height: 30px;
    background-color: rgb(252, 39, 39);
    border-radius: 25%;
    border: none;
    font-size: 26px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
    .delete-button:hover {
    background-color: rgb(204, 0, 0);
    transition: 0.2s ease-in-out;
}
.edit-button {
    width: 30px;
    height: 30px;
    background-color: rgb(39, 138, 252);
    border-radius: 25%;
    border: none;
    font-size: 26px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
    .edit-button:hover {
    background-color: rgb(0, 105, 204);
    transition: 0.2s ease-in-out;
}
.call-button {
    width: 30px;
    height: 30px;
    background-color: rgb(64, 252, 39);
    border-radius: 25%;
    border: none;
    font-size: 26px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.call-button:hover {
    background-color: rgb(54, 204, 0);
    transition: 0.2s ease-in-out;
}
.warning-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 20%;
    gap: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 50px rgb(0, 0, 0);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.send-button {
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    border: 2px solid #474747;
}
.receive-button {
    background-color: rgb(231, 231, 231);
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    border: 2px solid #474747;
}
.send-button:hover,
.receive-button:hover {
    background-color: var(--light-teal);
    transition: 0.2s ease-in-out;
}
.active{
    background-color: var(--teal) !important;
    color: #ffffff !important;
    transition: 0.2s ease-in-out !important;
}
.day-square{
    font-size: 30px;
    padding: 10px;
    width: 90%;
    height: 100%;
}
.patient-num{
    width: 10%;
    height: 100% !important;
    font-size: 18px !important;
    color: #1a1a1a;
    position: relative;
    top: -16px;
    font-weight: bold;
    border-radius: 25%;

}
.circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: #bebebe 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #bebebe;

}